     @font-face {
        font-family: "Pokemon";
        src: url("../Fonts/Pokemon Classic.ttf") format('truetype');
    }

    .progress-bar {
        background-color:#6f7a55 !important;
    }

    @keyframes progress-bar-stripes {
        0% { background-position: 1rem 0; }
        100% { background-position: 0 0; }
    }

    .progress-bar-animated {
        animation: 1s linear infinite progress-bar-stripes;
    }


    body{
        font-family: "Pokemon", monospace;
        margin:0;
        background-color:#6f7a55;
        background-image: url("../Img/fondo.jpg");
        background-size: cover;       
        background-position: center;   
    }

    
    header{
        font-family: "Pokemon", monospace;
        color:white;
        font-size: 40px;
        text-align: center;
        margin-bottom: auto;
        padding: 3%;
     

    }

    footer{
        color:white;
        text-align: center;
        padding: 10px;
        margin-top: 10px;
    }

    section{
        background-color: #f0a699;
        border: 2px solid #f54a2c;
        padding: 2px;
        margin-bottom: 20px;
        border-radius: 10px;

        

    }

    .botonesnav{
        list-style: none;
        padding-left: 0px; 
        list-style-type: none; 
        font-size: 14px; 
        margin-top: 5px;
        margin-bottom: 5px;
    }


    .botonesnav > li img {
        width: 16px; 
        height: auto;
    }

    .botonesnav > li a {
        font-weight: normal;
        color: black;
    }

    .botonesnav > li a:hover {
        font-weight: bold;
        color: #fd4c2d;
    }

    a {
        color: #000000;
        font-weight: bold;
        text-decoration:none; 
    }


    a:hover {
        color: #fd9381;
    }

    .navhover{
        color: #000000;
        font-weight: bold;
        text-decoration:none; 
    }

    .navhover:hover { color: #fd9381; }

    .Cuadro {
        max-width: 1100px;
        margin: 40px auto;
        padding: 20px;
        background-color: #3b452c;
        border: 2px solid rgb(0, 51, 13);
        border-top: 0px;
        
    }


    #flex {
        display: flex;
    }

    .flex{
        display:flex;
        gap:10px;
    }

    .ventana {
        background-color: white;
        padding: 20px;
        padding-top: 1px;
        padding-bottom: 20px;
        margin-top: 2px;
        border: 2px solid #fd9381;
        border-radius: 15px;
      
        
    }


    .ventanaheader{
        background-color: #ee6851;
        padding: 5px;
        color: white;
        font-size: smaller;
        font-weight: bold;
        border-radius: 5px;
        font-family: 'Pokemon';
    }

    .ventanaheader::before {
        background-image: url('../Img/image.png');
        background-size: 25px auto;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        content: "";
        float: left;
    }

    .cajita {
        background-color:#fd9381;
        border: 2px solid #fd4c2d;
        border-radius: 2px;
        padding: 10px;
        margin-bottom:10px;
        font-size: smaller;
        
    }

    .cajita > p a {
        color: black;
        text-decoration:underline;
        text-decoration-thickness: 1px;
    }

    .cajita > p a:hover {
        color:#fd4c2d;
    }



    h2{
        color:#fd9381
        

    }

    
    .horafecha{
        font-size: 13px;
    }

    .letra{
        font-size: 13px;
        color:#000000
    
    }

    .letramain{
        font-size: 15px;
        color:#000000;
        margin: 10px;
    
    }

    .letrainteres{
        font-size: 15px;
        color:#000000;
        padding: 10px;
        margin: 10px;
    
    }

    .letraartista{
        color: #000000;
        text-align: center;
        font-size: 10px;
        padding: 2px;
        margin: 2px;
    }


    .letracolor{
        color: #fd4c2d;
        font-size: 13px;
    }

    .statuslista{
        list-style: none;
        padding-left: 0px; 
        list-style-type: none; 
        margin-top: 5px;
        margin-bottom: 5px;
    }

    
    .artista {
        width: 300px; 
        height: 200px; 
        border-radius: 10px;
        border: 3px solid;
        border-color: #ee6851;
        
    }

    
    .sectionart{
        width: 300px;
        height: 200px;
        border-radius: 10px;
    }

    
    .video{
        width: 100%;
        max-width: 400px; /* con esto limito el video ese */
        height: 250px;
        margin: auto; /* para centrar */
        overflow: hidden;
    
    }


    #video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        padding: 0%;
    }

    #perro{
        width:150px;
        height:150px;
        display:block;
        margin:auto;
    
    }

   
    #fresaseparador{
       height: 50px;
    }


    .separador-fresa {
        width: 100%;           
        height: 35px;          
        background-image: url("../Img/Gifs/fresas.gif"); 
        background-repeat: repeat-x; 
        background-size: contain;    
        background-position: center; 
        border: none;
        margin: 15px 0;        
    }

    #hello{
        width: 150px;
        height:150px;
        margin-left: 10%;

    }


    #ladoizq,
    #ladoder{
        flex: 0 0 200px;
    }

    img{
        max-width:100%;
        height:auto;
    }   

    main{
        flex:1;
    }

    #ladoizq {
        order: 1;
        padding-left: 10px;
    }
    

    #ladoder {
        order:3;
        padding-right: 10px;
     
    }

    main{
        order: 2;
        padding-left: 10px;
        padding-right: 10px;
    }


    
    .billieimg {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: ''; 
        
    }


    #billie {
        width: 100%; 
        max-width: 100%; 
        object-fit: contain; 
        margin: 0;       
        border-radius: 10px;
    }

 
    .listahorafecha{
        list-style: none;
        text-align: left;
        padding: 5px;
    }

    #coso {
        width: 160px;
        height:160px;
        margin: 40px -20px 9px 750px;
    }


   
    body {
        position: relative;
    }

     /* sobre mi*/

    #me{
        width:250px;
        border:4px solid #fd4c2d;
        border-radius: 15px;
        padding:0px;
        background:white;
        display:block;
        margin:auto;
    }


    #colombia{
        width: 15px;
    }

    #mom{
        width:180px;
        height:150px;
        display:block;
        margin:auto;
        float: right;
        border: 2px solid #f54a2c;
        border-radius: 15px;
    }

    #kakarot{
        width:100px;
        height:100px;
        padding: 10px;
        display:block;
        margin:auto;
        float: left;
    }

        #amarilla{
        width:150px;
        height:150px;
        display:block;
        margin:auto;
        float: center;
    }


    .datoscuriosos{
        list-style-image: url("../Img/cafemin.png");
       
    }

    .letradatos {
        font-size: 10px;
    }


    /* el coso del chat*/

    #chattable {
        display: block;
        margin: 0;
        width: 100%;
        height: 330px;
        height: 100%;
        min-width: 100px;
        max-width: 100vw;
        min-height: 100px;
        min-height: 100vh;
      }

 /* galeria de arte*/
    #art-section{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        gap:10px;
        width: 100%;
        padding: 20px;
        justify-items: stretch;
      
    }


    .art-card{
        background:#F9F6F0;
        border:5px solid #fd4c2d;
        padding:5px;
        font-size:11px;
        text-align:center;
        
    }


    .dibujo{
        border:1px dashed #000;
        padding:3px;
        margin-bottom:5px;
    }

    .dibujo img{
        width:100%;
        height:200px;
        object-fit:cover;
    }


     /*Párrafo de la página inicial */

     
     #letrapag{
        text-align: center;
        color: white;
     }

    
    /*Botones del coso de la pag inicial*/ 

    
    .botonboots{
        padding: 5px;
        margin: 2px;
        --bs-btn-bg: #fd4c2d;
        --bs-btn-border-color: #66190b;
        --bs-btn-color: white;

        --bs-btn-hover-bg: #fd9381;
        --bs-btn-hover-border-color: #812819;
        --bs-btn-hover-color: white;
    }

    /* Responsivo */

    @media (max-width:900px){

        .flex{
            flex-direction:column;
        }

        #ladoizq,
        #ladoder{
            flex:none;
            width:100%;
            padding:0 10px;
        }

        main{
            order:1;
        }

        #ladoizq{
            order:2;
        }

        #ladoder{
            order:3;
        }

    }

    /* pantallas muy pequeñas */

    @media (max-width:500px){

        header{
            font-size:28px;
        }

        .ventana{
            padding:10px;
        }

    }