     @font-face {
        font-family: "Pokemon";
        src: url("../Fonts/Pokemon Classic.ttf") format('truetype');
    }


    body{
        font-family: "Pokemon", monospace;
        margin:0;
        background-color:#6f7a55;
        background-image: url("../Img/fondo.jpg");
        background-size: cover;       
        background-position: center;   
    }

    
    header{
        font-family: "Pokemon", monospace;
        color:white;
        font-size: 40px;
        text-align: center;
        margin-bottom: 20px;
        padding: 3%;
     

    }

    footer{
        color:white;
        text-align: center;
        padding: 10px;
        margin-top: 10px;
    }

    section{
        background-color: #f0a699;
        border: 2px solid #f54a2c;
        padding: 2px;
        margin-bottom: 20px;
        border-radius: 10px;

        

    }


    a {
        color: #000000;
        font-weight: bold;
        text-decoration:none; 
    }


    a:hover {
        color: #fd9381;
    }

    .navhover{
        color: #000000;
        font-weight: bold;
        text-decoration:none; 
    }

    .navhover:hover { color: #fd9381; }

    .Cuadro {
        max-width: 1100px;
        margin: 40px auto;
        padding: 20px;
        background-color: #3b452c;
        border: 2px solid rgb(0, 51, 13);
        border-top: 0px;
        border-radius: 10px;
        
    }


    #flex {
        display: flex;
    }

    .flex{
        display:flex;
        gap:10px;
        justify-content: center;   /* permite que bajen si no caben */
        margin-bottom: 20px;   
    }
    

    .ventana {
        background-color: white;
        padding: 20px;
        padding-top: 1px;
        padding-bottom: 20px;
        margin-top: 2px;
        border: 2px solid #fd9381;
        border-radius: 15px;
      
        
    }


    .ventanaheader{
        background-color: #ee6851;
        padding: 5px;
        color: white;
        font-size: smaller;
        font-weight: bold;
        border-radius: 5px;
        font-family: 'Pokemon';
    }

    .ventanaheader::before {
        background-image: url('../Img/image.png');
        background-size: 25px auto;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        content: "";
        float: left;
    }

    .cajita {
        background-color:#fd9381;
        border: 2px solid #fd4c2d;
        border-radius: 2px;
        padding: 10px;
        margin-bottom:10px;
        font-size: smaller;
        
    }

    .cajita > p a {
        color: black;
        text-decoration:underline;
        text-decoration-thickness: 1px;
    }

    .cajita > p a:hover {
        color:#fd4c2d;
    }



    h2{
        color:#fd9381
        

    }

    

    .letra{
        font-size: 13px;
        color:#000000
    
    }

    .letramain{
        font-size: 15px;
        color:#000000;
        margin: 10px;
    
    }

    .letrainteres{
        font-size: 15px;
        color:#000000;
        padding: 10px;
        margin: 10px;
    
    }

    .letraartista{
        color: #000000;
        text-align: center;
        font-size: 10px;
        padding: 2px;
        margin: 2px;
    }


    .letracolor{
        color: #fd4c2d;
        font-size: 13px;
        
    }    

   
    #fresaseparador{
       height: 50px;
    }


    .separador-fresa {
        width: 100%;           
        height: 35px;          
        background-image: url("../Img/Gifs/fresas.gif"); 
        background-repeat: repeat-x; 
        background-size: contain;    
        background-position: center; 
        border: none;
        margin: 25px 0;     
           
    }



    #ladoizq,
    #ladoder{
        flex: 0 0 200px;
    }

    img{
        max-width:100%;
        height:auto;
    }   

    main{
        flex:1;
    }

    #ladoizq {
        order: 1;
        padding-left: 10px;
    }
    

    #ladoder {
        order:3;
        padding-right: 10px;
     
    }

    main{
        order: 2;
        padding-left: 10px;
        padding-right: 10px;
    }


   
    body {
        position: relative;
    }




   
     /*Párrafo de la página inicial */

     
     #letrapag{
        text-align: center;
        color: white;
    
     }

    
    /*Botones del coso de la pag inicial*/ 

    
    .botonboots{
        padding: 5px;
        margin: 2px;

        --bs-btn-bg: #fd4c2d;
        --bs-btn-border-color: #66190b;
        --bs-btn-color: white;

        --bs-btn-hover-bg: #fd9381;
        --bs-btn-hover-border-color: #812819;
        --bs-btn-hover-color: white;
    }

    /* Responsivo */

    @media (max-width:900px){

        .flex{
            flex-direction:column;
        }

        #ladoizq,
        #ladoder{
            flex:none;
            width:100%;
            padding:0 10px;
        }

        main{
            order:1;
        }

        #ladoizq{
            order:2;
        }

        #ladoder{
            order:3;
        }

    }

    /* pantallas muy pequeñas */

    @media (max-width:500px){

        header{
            font-size:28px;
        }

        .ventana{
            padding:10px;
        }

    }